{
  "extends": "./eslint.js",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".d.ts"]
      }
    }
  },
  "rules": {
    "import/no-nodejs-modules": [
      "error",
      {
        "allow": ["path", "fs", "child_process"]
      }
    ]
  },
  "overrides": [
    {
      // Disable the rule specifically for test files
      "files": ["*.test.ts"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-require-imports": "off"
      }
    }
  ]
}
